.office-banner {
    background-color: #ee4d4d;
    font-family: "Arial";
    padding: 0.125em;
    font-size: 4em;
    text-align: center;
    white-space: nowrap;
    transform: rotate(-10deg);
    position: absolute;
    top: 30%;
    left: -5%;
    right: -5%;
    z-index: 100;
    margin-top: 0;
    opacity: 0.7;
}

img {
    display: block;
    margin-top: 3em;
    margin-left: auto;
    margin-right: auto;
}

.title {
    text-align: center;
    font-size: 60px;
    font-weight: bolder;
    border: 2px solid white;
    margin: 0 auto;
    width: 30%;
    margin-top: 60px;
}

.title:hover {
    opacity: 0.8;
}

p {
    font-size: 20px;
}

.banner-container {
    width: calc(100%+5px);
    height: 600px;
    /* background-image: url(../../src/banner.jpg); */
    background-size: cover;
    margin: -15px;
    background-image: linear-gradient(to bottom, transparent 50%, rgb(21, 22, 26)), url("../images/home/banner.jpg");
}

.decrouvir h2 {
    font-weight: bolder;
}

.decouvrir {
    text-align: center;
    width: 50%;
    margin: auto;
    margin-top: 60px;
}

